footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
  
    p {
      font-size: 1em;
      margin-top: 10px;
    }
  }
  
  .linkedin-own {
    text-decoration: none;
    color: white;
  }
  